// Neutralize JQuery UI
.ui-state-hover{
  background-color: #b3c6ff;
  border-color:#b3c6ff;
}
.ui-state-focus{
  border:1px solid #cccccc;
}
.ui-state-default{
  color:black;
  background: white;
}
.ui-state-active{
  border-color:#3366ff;
  background: #3366ff
}

.accordion{
  padding-left:5%;
}