#summary {
  margin: 20px;
  font-family: "Playfair Display", serif;

  img{
    border-radius: 50%;
    margin:10px;
  }

  #name{
    font-size: 3em;
    font-weight: bold;
  }
  
  #title{
    font-size: 2em;

    a:hover{
      text-decoration: none;
    }

    a:focus{
      color:red;
      text-decoration: none;
    }
  }
  #explanation{
    font-size: 1.5em;
    text-align: left;
    overflow: auto;
    display:block;
  }
}