---
layout: default
title: Max Kusnadi | Personal Page
description: Max Kusnadi CV Resume
---
<header>
  <p> Logo </p>
  <nav>
    <p>Sect 1</p>
    <p>Sect 2</p>
  </nav>
</header>

<div class='col-md-12 col-xs-12 section'>
  <h1>Summary</h1>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Skills</h1>
  <h2>Skills rating graph</h2>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Work Experience</h1>
  <h2>Time Line</h2>
</div>

{% include cv/projects.html %}
{% include cv/language.html %}
{% include cv/contact-me.html %}
{% include footer.html %}

<script src="./js/cv/language.js" type="text/javascript"></script>
<script src="./js/cv/projects.js" type="text/javascript"></script>
