---
layout: cv
title: Max Kusnadi | Personal Page
---
<header>
  <p> Logo </p>
  <nav>
    <p>Sect 1</p>
    <p>Sect 2</p>
  </nav>
</header>

<div class='col-md-12 col-xs-12 section'>
  <h1>Summary</h1>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Skills</h1>
  <h2>Skills rating graph</h2>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Work Experience</h1>
  <h2>Time Line</h2>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Projects</h1>
  <h2>Skills vs Interest graph</h2>
</div>

<div class='col-md-12 col-xs-12 section'>
  <h1>Languange</h1>
  <h2>Graph language vs confidence</h2>
</div>

{% include cv/contact-me.html %}
{% include footer.html %}
