<div id="contact" class='col-md-12 col-xs-12 section'>

  <h1>Contact me</h1>
  <hr/>

  <div class='col-md-5 col-md-offset-1 col-xs-12 center content'>
    Social Media presence is important nowadays and people do stalk. I'll make your job easier by listing all social media accounts I have.
    <br/>
    <br/>
    If you think I am a good fit for your project, <a href="mailto:max.kusnadi@gmail.com">do let me know!</a>
  </div>

  <div class='col-md-4 col-md-offset-2 col-xs-12 content'>
    <ul>

      <li>
        <a href="https://facebook.com/hi.kusnadi">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebook
        </a>
      </li>

      <li>
        <a href="https://github.com/MaxKusnadi">
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/max-kusnadi-053a847a/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          LinkedIn
        </a>
      </li>

      <li>
        <a href="mailto:max.kusnadi@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Email
        </a>
      </li>

    </ul>
  </div>
</div>