<div id='contact-me-head' class='col-md-3 col-xs-12 section'>
  <h1>Contact me through...</h1>
  <div id='contact-me'>
    <ul id='contact-me-list'>
      <li>
        <a target="_blank" href="https://facebook.com/hi.kusnadi">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebook
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/MaxKusnadi">
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/max-kusnadi-053a847a/">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
          LinkedIn
        </a>
      </li>
      <li>
        <a target="_blank" href="mailto:max.kusnadi@gmail.com">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Email
        </a>
      </li>
    </ul>

    <p><i>Email is preferred</i></p>
  </div>
</div>