<div id="language" class='col-md-12 col-xs-12 section'>
  
  <h1>Languages</h1>
  <hr/>

  <div class='col-md-3 col-md-offset-2 col-xs-12 center content'>
    <div id="language-content">
      Curious about which languages I'm most comfortable with? I know it's just a matter of syntax but still everyone asks for it. 
      <br/>
      <br/>
      Here is a visual representation of my confidence in a few programming languages. As a benchmark, I put <strong>Indonesian</strong> (my native) as 100 and Hebrew (No idea what it is) as 0. This is highly subjective but should give you a rough idea.
      <br/>
      <br/>
      <strong>P.S. Your favourite language isn't there? Don't worry, I am quite <a href="#project">a fast learner</a> </strong>
    </div>
  </div>
  
  <div class='col-md-6 col-md-offset-1 col-xs-12 content'>
    <div id='language-graph'></div>
  </div>

</div>