<div id="project" class='col-md-12 col-xs-12 section'>
  <h1>Selected Projects</h1>
  <hr/>
  <div class="col-md-6">
    <div class="accordion">
      <h3>Data Analysis</h3>
      <div>First content panel</div>
      <h3>Web Application</h3>
      <div>Second content panel</div>
      <h3>Chat Bot</h3>
      <div>Second content panel</div>
      <h3>Data Visualisation</h3>
      <div>Second content panel</div>
      <h3>Random</h3>
      <div>Second content panel</div>
    </div>
  </div>
</div>