<div class='col-md-9 col-xs-12 section'>
  <h1 id='projects-head'>Projects</h1>
  <div id='projects'>
    <div class="tabs">
        <ul class="tab-links">
            <li class="active"><a href="#tab1">Web Application</a></li>
            <li><a href="#tab2">Data Visualisation</a></li>
            <li><a href="#tab3">Data Analysis</a></li>
            <li><a href="#tab4">Random Projects</a></li>
        </ul>
     
        <div class="tab-content">
            <div id="tab1" class="tab active">
                <div class='col-md-3 col-md-offset-1'>List of web App</div>
                <div class='col-md-5'>Explanation</div>
            </div>
     
            <div id="tab2" class="tab">
                <div class='col-md-3 col-md-offset-1'>List of web App</div>
                <div class='col-md-5'>Explanation</div>
            </div>
     
            <div id="tab3" class="tab">
                <div class='col-md-3 col-md-offset-1'>List of web App</div>
                <div class='col-md-5'>Explanation</div>
            </div>
     
            <div id="tab4" class="tab">
                <div class='col-md-3 col-md-offset-1'>List of web App</div>
                <div class='col-md-5'>Explanation</div>
            </div>
        </div>
    </div>
  </div>
</div>