<!-- <div class="events-content">
        <ol>

          <li class="selected" data-date="01/02/2014">
            <h2>Tuition Teacher at Tuition Factory, Jakarta</h2>
            <em>February - July 2014</em>
            <p> 
              Taught CIPAT, O-Level and A-Level on Mathematics, Science, English and Bahasa Indonesia for International School students aged 9-16
            </p>
          </li>

          <li data-date="01/08/2014">
            <h2>Business Analytics Undergraduate at National University of Singapore</h2>
            <em>Aug 2014 - May 2018</em>
            <p> 
              Started my programming and data science journey in <a target="_blank" href="http://news.nus.edu.sg/press-releases/nus-ranked-number-1-asia">#1 University in Asia.</a>
            </p>
          </li>

          <li data-date="01/12/2014">
            <h2>Voice Communicator at <a target="_blank" href="http://www.pulleyascent.com/pa/">Pulley Ascent (ASIA)</a>, Singapore</h2>
            <em>Dec 2014 - Jan 2015</em>
            <p> 
              Generated potential sales leads through oral communication and conducted market research to identify potential clients
            </p>
          </li>

          <li data-date="01/02/2015">
            <h2><a href="http://raffles.nus.edu.sg/" target="_blank">Raffles Hall</a> Male Touch Rugby Captain</h2>
            <em>Feb 2015 - Jan 2016</em>
            <p> 
              Led a team of 18 people for the annual <a target="_blank" href="http://interhallgames.wixsite.com/1617">NUS Inter Hall Games</a>. Conducted training twice a week and ended up getting 4th position depite getting the last position the year before.
            </p>
          </li>

          <li data-date="01/05/2015">
            <h2>Community Manager at <a href="https://glints.sg/" target="_blank">Glints</a>, Singapore</h2>
            <em>May-July 2015</em>
            <p> 
              Responsible for blog content generation and SEO. By actively exploring ways to provide relevant and interesting career-related contents and closely working with a team of talented writers, I've revamped Glints blog which has attained <strong>60% growth</strong> in number of monthly unique organic viewers <strong>in 2 months</strong> since its launch in May 2015.
              In addition, during my tenure, Glints has improved its SEO ranking from the second page in Google search results to <strong>the first for 10 different keywords</strong>.
            </p>
          </li>

          <li data-date="01/07/2015">
            <h2><a target="_blank" href="http://www.comp.nus.edu.sg/">School of Computing</a> Touch Rugby Captain</h2>
            <em>July - Aug 2015</em>
            <p> 
              Led a team of 10 people for the annual <a href="https://www.facebook.com/InterFacultyGames/" target="_blank">NUS Inter Faculty Games</a>. Despite being underdog and having limited training time, the team managed to perform decently during the competition
            </p>
          </li>

          <li data-date="01/02/2016">
            <h2>2nd at <a href="http://www.hfs.org.sg/nus-invites-2016" target='_blank'>NUS Handball Invitational 2016</a></h2>
            <em>Feb 2016</em>
            <p> 
              Clinched 2nd position in the annual NUS Handball Invitational despite short training time.
            </p>
          </li>

          <li data-date="15/03/2016">
            <h2>6th at Singapore Autonomous Underwater Vehicle Competition </h2>
            <em>March 2016</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="01/05/2016">
            <h2>Web Developer Intern at Teamie, Singapore</h2>
            <em>May-July 2016</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="01/07/2016">
            <h2>School of Computing Handball M&amp;F Team Manager</h2>
            <em>July-Aug 2016</em>
            <p> 
              Handball
            </p>
          </li>

          <li data-date="01/08/2016">
            <h2>Sports Director at NUS Indonesian Community</h2>
            <em>Aug 2016 -July 2017</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="17/09/2016">
            <h2>Pekan Olahraga Pelajar Indonesia (Indonesian Student Sports Week) Project Director</h2>
            <em>Sept 2016</em>
            <p> 
              YOLO
            </p>
          </li>

          <li data-date="17/11/2016">
            <h2>One of the Best Projects at #DataDriven Hackaton Singapore</h2>
            <em>Nov 2016</em>
            <p> 
              http://www.datadriven.sg/blog/community/the-best-projects-of-datadriven-hackathon-singapore-2016/
            </p>
          </li>

          <li data-date="03/01/2017">
            <h2>Software Engineering Intern at Paypal, Singapore</h2>
            <em>Jan 2017 - Now</em>
            <p> 
              Se siol
            </p>
          </li>

        </ol>
      </div> <!-- .events-content --> -->
