<div class="timeline">
  <div class="events-wrapper">
    <div class="events">
      <ol>
        <li><a href="#0" data-date="31/11/2013">Nov '13</a></li>
        <li><a href="#0" data-date="01/02/2014">Feb '14</a></li>
        <li><a href="#0" data-date="01/08/2014">Aug '14</a></li>
        <li><a href="#0" data-date="01/12/2014">Dec '14</a></li>
        <li><a href="#0" data-date="01/02/2015">Feb '15</a></li>
        <li><a href="#0" data-date="01/05/2015">May '15</a></li>
        <li><a href="#0" data-date="01/07/2015">July '15</a></li>
        <li><a href="#0" data-date="01/08/2015">Aug '15</a></li>
        <li><a href="#0" data-date="01/02/2016">Feb '16</a></li>
        <li><a href="#0" data-date="15/03/2016">Mar '16</a></li>
        <li><a href="#0" data-date="01/05/2016">May '16</a></li>
        <li><a href="#0" data-date="01/07/2016">July '16</a></li>
        <li><a href="#0" data-date="01/08/2016">Aug '16</a></li>
        <li><a href="#0" data-date="17/09/2016">Sep '16</a></li>
        <li><a href="#0" data-date="17/11/2016">Nov '16</a></li>
        <li><a href="#0" data-date="03/01/2017" class="selected">Jan '17</a></li>
      </ol>

      <span class="filling-line" aria-hidden="true"></span>
    </div> <!-- .events -->
  </div> <!-- .events-wrapper -->
    
  <ul class="cd-timeline-navigation">
    <li><a href="#0" class="prev inactive">Prev</a></li>
    <li><a href="#0" class="next">Next</a></li>
  </ul> <!-- .cd-timeline-navigation -->
</div> <!-- .timeline -->