<div class="events-content">
        <ol>
          <li class="selected" data-date="31/11/2013">
            <h2>Graduated from Anglo-Chinese Junior College</h2>
            <em>November 2013</em>
            <p> 
              Finished A level.
            </p>
          </li>

          <li data-date="01/02/2014">
            <h2>Tuition Teacher at Tuition Factory, Jakarta</h2>
            <em>February-July 2014</em>
            <p> 
              Teaching
            </p>
          </li>

          <li data-date="01/08/2014">
            <h2>Business Analytics Undergraduate at National University of Singapore</h2>
            <em>Aug 2014 - May 2018</em>
            <p> 
              YOLO
            </p>
          </li>

          <li data-date="01/12/2014">
            <h2>Voice Communicator at Pulley Ascent (ASIA), Singapore</h2>
            <em>Dec 2014 - Jan 2015</em>
            <p> 
              Talk -talk
            </p>
          </li>

          <li data-date="01/02/2015">
            <h2>Raffles Hall Touch Rugby Captain</h2>
            <em>Feb 2015 - Jan 2016</em>
            <p> 
              Marketing Intern
            </p>
          </li>

          <li data-date="01/05/2015">
            <h2>Community Manager at Glints, Singapore</h2>
            <em>May-July 2015</em>
            <p> 
              Marketing Intern
            </p>
          </li>

          <li data-date="01/07/2015">
            <h2>School of Computing Touch Rugby Captain</h2>
            <em>July-Aug 2015</em>
            <p> 
              Marketing Intern
            </p>
          </li>

          <li data-date="01/08/2015">
            <h2>Member, Software Team, Project Hornet</h2>
            <em>Aug 2015 - Mar 2016</em>
            <p> 
              Marketing Intern
            </p>
          </li>

          <li data-date="01/02/2016">
            <h2>2nd at NUS Handball Invite 2016</h2>
            <em>Feb 2016</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="15/03/2016">
            <h2>6th at Singapore Autonomous Underwater Vehicle Competition </h2>
            <em>March 2016</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="01/05/2016">
            <h2>Web Developer Intern at Teamie, Singapore</h2>
            <em>May-July 2016</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="01/07/2016">
            <h2>School of Computing Handball M&amp;F Team Manager</h2>
            <em>July-Aug 2016</em>
            <p> 
              Handball
            </p>
          </li>

          <li data-date="01/08/2016">
            <h2>Sports Director at NUS Indonesian Community</h2>
            <em>Aug 2016 -July 2017</em>
            <p> 
              Web Developer
            </p>
          </li>

          <li data-date="17/09/2016">
            <h2>Pekan Olahraga Pelajar Indonesia (Indonesian Student Sports Week) Project Director</h2>
            <em>Sept 2016</em>
            <p> 
              YOLO
            </p>
          </li>

          <li data-date="17/11/2016">
            <h2>One of the Best Projects at #DataDriven Hackaton Singapore</h2>
            <em>Nov 2016</em>
            <p> 
              http://www.datadriven.sg/blog/community/the-best-projects-of-datadriven-hackathon-singapore-2016/
            </p>
          </li>

          <li data-date="03/01/2017">
            <h2>Software Engineering Intern at Paypal, Singapore</h2>
            <em>Jan 2017 - Now</em>
            <p> 
              Se siol
            </p>
          </li>

        </ol>
      </div> <!-- .events-content -->