body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
}

h1{
	padding: 0 20px;
}

hr { 
	width:100%;
	height:1px;
	background: #fff; 
}


/*
	General Classes
 */
.section {
	padding-top:0;
	padding-bottom: 100px;
}

.center {
	align-content: center;
}

.content {
	padding:10px;
}

/*
	Contact
 */
#contact a:hover{
	color:#cee1ff;
}

#contact ul {
	list-style-type: none;
}

#contact i {
	margin-right: 10px;
}

/*
	Footer
 */
footer {
	color:white;
	height: 100px;
	background-color: black;
	width:100%;
}

footer p {
	padding: 0;
	margin: 0;
}

footer div {
	padding:25px 0;
	margin:0;
}

footer a:link{
	color:#7fb0ff
}

footer a:hover{
	color:#cee1ff;
}

footer a:visited, a:active{
	color:#fff428;
}